/*------Базовые стили-------------------------------------------------------------------*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-family: Raleway;
    font-size: 18px;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container-header {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}
._container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/*------Шапка сайта----------------------------------------------------------------------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__main-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 5px 20px;
    max-height: 43px;
    background: #181f71;
    line-height: 11px;
    font-size: 10px;
}
.burger-menu-mobile {
    position: absolute;
    right: 10px;
    top: 80px;
    width: 40px;
    height: 30px;
    cursor: pointer;
    display: none;
}
.burger-menu-mobile span, .burger-menu-mobile span:before, .burger-menu-mobile span:after{
    width: 100%;
    position: absolute;
    height: 3px;
    background: #333;
    display: block;
    transition: .3s;
    border-radius: 1px;

}
.burger-menu-mobile span:before{
    content: "";
    top: -13px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    background-color: white;
}
.burger-menu-mobile span{
    top: 13px;
    background-color: white;
}
.burger-menu-mobile span:after{
    content: "";
    bottom: -13px;
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    background-color: white;
}
.main-bar__container {
    display: flex;
    align-items: center;
    color: white;
    gap: 5px;
    cursor: pointer;
}
.main-bar__logo_spbu {
    height: 40px;
}
.main-bar__search {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    cursor: pointer;
}
.header__container {
    display: flex;
    align-items: center;
    min-height: 104px;
    padding-bottom: 135px;
}
.header__logo {
     width: 190px;
     height: 114px;
}
.header__menu {
    margin: 0 0 0 66px;
}
.navigation {
    padding: 15px 0;
}
.menu__list {
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.menu__item {
    margin: 0 0 0 35px;
}
.menu__link {
    font-size: 16px;
    color: white;
    font-weight: 500;
    line-height: calc(24 / 14 * 100%);
}
.menu__item-button {
    background-color: #00AC97;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0 5px 0;
    height: 46px;
    width: 184px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 117%;
    cursor: pointer;
}
.menu__item-button:hover {
    opacity: 0.5;
    background-color: #00C868;
}
.menu__item select {
    outline: none;
    background: none;
    color: white;
    cursor: pointer;
}
.header__title-wrapper {
   position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 120px;
}
.title-wrapper-title {
    font-size: 64px;
    font-weight: 700;
    line-height: 106%;
    color: white;
}
.title__wrapper-text {
    font-size: 18px;
    line-height: 133%;
    font-weight: 500;
    color: white;
}
.wrapper-link__cirle {
    position: relative;
    width: 58px;
    height: 58px;
    border-radius: 100px 100px 90px 100px;
    border-top: 4px solid #00AC97;
    border-left: 4px solid #00AC97;
    border-bottom: 4px solid #00AC97;
    cursor: pointer;
}
.link-cirle__text {
    position: absolute;
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    color: white;
    z-index: 40;
    top: 15px;
    left: 45px;
    height: 30px;
}
.right-arrow {
    display: inline-flex;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.right-arrow::before,
.right-arrow::after {
    display: inline-flex;
    position: absolute;
    content: '';
}
.right-arrow::before {
    top: 24px;
    left: 10px;
    width: 20px;
    height: 2px;
    background-color: white;
}
.right-arrow::after {
    width: 10px;
    height: 10px;
    top: 20px;
}
.right-arrow::after {
    right: 0;
    border-top: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(45deg);
}
.header__buttons-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 138px;

}
.buttons-bar__button {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    height: 138px;
    width: 100%;
    cursor: pointer;
    padding: 38px 108px 38px 60px;
    color: white;
}
.buttons-bar__button:hover {
    opacity: 0.5;
    background-color: gray;
    color: white;
}
.buttons__num {
    font-size: 16px;
    line-height: 106%;
    font-weight: 600;
}
.buttons__name {
    font-size: 24px;
    line-height: 114%;
    font-weight: 600;
}
.header__background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -4;
    filter: brightness(50%);
}
    /*------Основная страница и блоки-------------------------------------------------------------------*/
.page {
    flex: 1 1 auto;

}
.page__main-block {

}
/*------Главный блок----------------------------------------------------------------------------*/
.main-block {
    position: relative;
}

.main-block__container {

}
.main-block__body {
    padding: 900px 0 50px 0;
    position: relative;
    z-index: 2;
    max-width: 645px;
}
.main-block__body > *:not(:last-child) {
    margin: 0 0 40px 0;

}
.main-block__title {
    font-size: 42px;
    font-weight: 600;
    line-height: 114%;
}
.main-block__text {
    color: #0D192B;
    font-size: 16px;
    font-weight: 400;
    line-height: 149%;
}
.main-block__image {
    top: 110vh;
    left: 47vw;
    position: absolute;
    width: 100%;
    height: 500px;
    z-index: -66;
}
/*------Второй блок----------------------------------------------------------------------------*/
.page__second-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 120px;
    position: relative;
    padding-bottom: 120px;
 }
.second-block__section-left {
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: flex-start;
    max-width: 480px;
}

.section-left__text {
    font-size: 16px;
    line-height: 175%;
    font-weight: 400;
    color: #0D192B;
}
.second-block__section-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-start;
    max-width: 800px;
    padding-top: 100px;
}
.section-right__title {
    font-size: 42px;
    font-weight: 600;
    line-height: 133%;
}
.section-right__text {
    font-size: 16px;
    line-height: 175%;
    font-weight: 400;
}
.section-right__image {
    margin-top: 79px;
}

.right-arrow__black {
    display: inline-flex;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.right-arrow__black::before,
.right-arrow__black::after {
    display: inline-flex;
    position: absolute;
    content: '';
}
.right-arrow__black::before {
    top: 24px;
    left: 10px;
    width: 20px;
    height: 2px;
    background-color: black;
}
.right-arrow__black::after {
    width: 10px;
    height: 10px;
    top: 20px;
}
.right-arrow__black::after {
    right: 0;
    border-top: 3px solid black;
    border-right: 3px solid black;
    transform: rotate(45deg);
}
/*------Подвал сайта------------------------------------------------------------------------------------*/
.footer {
    width: 100%;
    height: 785px;
    background-color: #F3F6F9;
}
.footer__container {
    padding: 80px 0 151px 120px;
}
.footer__title {
    color: #0D192B;
    font-size: 42px;
    font-weight: 600;
    line-height: 133%;
}
/*------Подвал сайта(для мобилки)------------------------------------------------------------------------------------*/
.footer__mobile {
    display: flex;
    flex-direction: column;
    padding: 0 5px 5px 10px;
    display: none;

}
.footer__mobile-links {
    display: flex;
    flex-direction: row;
    gap: 94px;
    position: relative;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: darkgray;
}
.mobile-links__left {
    max-width: 86px;
}
.footer__mobile-links li {
    padding: 10px 0 5px 0;
}
.mobile-links__right a {
    text-decoration: none;
    color: darkgray;
}
.mobile-links__left a {
    text-decoration: none;
    color: darkgray;
}
.footer__mobile-links h4 {
    font-weight: 600;
    color: #F3F6F9;
    padding: 10px 0 24px 0;
    line-height: 19px;
}
.footer__mobile-social-wibe {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 40px;
}
.footer__mobile-politic {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: darkgray;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    padding-bottom: 41px;
}
.footer__mobile-2018-2021 {
    font-size: 12px;
    color: darkgray;
    border-style: solid;
    border-width: 1px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    padding-top: 14px;
}
